In [ ]:
# 2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program

#if, elif, else: These keywords are used for conditional statements.

In [1]:
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is 5")
else:
    print("x is less than 5")

x is greater than 5

In [ ]:
#for, while, break, continue: These keywords control the flow of loops.

In [3]:
# for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
# while loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [5]:
# break and continue
for i in range(10):
    if i == 5:
        break  # Exits the loop
    if i % 2 == 0:
        continue  # Skips the rest of the loop body for this iteration
    print(i)

1
3

In [ ]:
#True, False, None: These are special constants in Python.

In [6]:
a = True
b = False
c = None
if a:
    print("a is True")
if not b:
    print("b is False")
print(c)

a is True
b is False
None

In [ ]:
# 3.Compose and contrast mutable and immutable objects in Python with examples

In [7]:
# Lists (mutable)
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [8]:
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [9]:
# Integers (immutable)
a = 5
b = a
a = 10
print(b)  # The value of b remains unchanged

5

In [10]:
# Strings (immutable)
str1 = "hello"
str2 = str1
str1 = "world"
print(str2)   # The original string str2 remains unchanged

hello

In [ ]:
#  4.Discuss the different types of operators in Python and provide examples of how they are used

In [17]:
# Arithmatic operators

# Addition (+): Adds two operands.

a = 10
b = 5
result = a + b  
print(result)

15

In [18]:
# Subtraction(-): subtracts two operands.

result = a - b  
print(result)

5

In [19]:
# Multiplication (*): multiply two operands.

result = a * b  
print(result)

50

In [20]:
# Division (/): divides two operands.

result = a / b  
print(result)

2.0

In [21]:
# Modulus (%): Returns the remainder of a division operation

result = a % b  
print(result)

0

In [23]:
# Comparison operators

# Equal to (==): Checks if two operands are equal.

result = (a == b) 
print(result)

False

In [24]:
#Not equal to (!=): Checks if two operands are not equal

result = (a != b) 
print(result)

True

In [26]:
#Greater than (>): Checks if the first operand is greater than the second.

result = (a > b) 
print(result)

True

In [27]:
#Lesser than (<): Checks if the first operand is lesser than the second.

result = (a < b) 
print(result)

False

In [28]:
# Logical operators

#And (and): Returns True if both operands are True.

result = (a > 5 and b < 10)  
print(result)

True

In [32]:
#Or (or): Returns True if at least one of the operands is True.

result = (a > 15 or b < 10)  
result

True

In [30]:
#Not (not): Returns True if the operand is False.

result = not (a > 5) 
print(result)

False

In [34]:
# Assignment operators

#Assign (=): Assigns a value to a variable.

x = 10  # x is now 10
x

10

In [35]:
#Add and assign (+=): Adds the right operand to the left operand and assigns the result to the left operand.

x += 5  # x is now 15
x

15

In [36]:
#Subtract and assign (-=): Subtracts the right operand from the left operand and assigns the result to the left operand.

x -= 3  # x is now 12
x

12

In [37]:
#Multiply and assign (*=): Multiplies the left operand by the right operand and assigns the result to the left operand.

x *= 2  # x is now 24
x

24

In [38]:
#Divide and assign (/=): Divides the left operand by the right operand and assigns the result to the left operand.

x /= 4  # x is now 6.0
x

6.0

In [39]:
#Modulus and assign (%=): Applies the modulus operation and assigns the result to the left operand.

x %= 5  # x is now 1.0
x

1.0

In [40]:
#Exponent and assign (**=): Raises the left operand to the power of the right operand and assigns the result to the left operand.

x **= 3  # x is now 1.0 (1^3 is 1)
x

1.0

In [41]:
# Bitwise operators

#AND (&): Performs a bitwise AND operation.

a = 6 
b = 3  
result = a & b
result

2

In [42]:
#OR (|): Performs a bitwise OR operation.

result = a | b 
result

7

In [43]:
#XOR (^): Performs a bitwise XOR operation.

result = a ^ b  
result

5

In [44]:
#Complement (~): Inverts all the bits.

result = ~a  
result

-7

In [46]:
#Left shift (<<): Shifts bits to the left, adding zeros on the right.

result = a << 1 
result

12

In [47]:
#Right shift (>>): Shifts bits to the right, discarding bits on the right.

result = a >> 1  
result

3

In [49]:
# Membership operator

#In (in): Returns True if a value is present in a sequence.

fruits = ['apple', 'banana', 'berry']
result = 'banana' in fruits  
result

True

In [50]:
#Not in (not in): Returns True if a value is not present in a sequence.

result = 'grape' not in fruits 
result

True

In [55]:
# Identity Operators

#Is (is): Returns True if two variables point to the same object.

a = [1, 2, 3, 4]
b = a
result = (a is b)  
result

True

In [60]:
#Is not (is not): Returns True if two variables point to different objects.

c = [1, 2, 3]
result = (a is not c)
result

True

In [ ]:
# 5.Explain the concept of type casting in Python

In [1]:
#Converting a float to an Integer:
float_value = 12.56
int_value = int(float_value)
print(int_value)

12

In [3]:
# Convert a string to an integer
str_value = "123"
int_value = int(str_value)
print(int_value)

123

In [4]:
# Convert a float to a string
float_value = 9.81
str_value = str(float_value)
print(str_value)

9.81

In [ ]:
# 6.How do conditional statements work in Python? Illustrate with examples.

In [3]:
# if statement

a = 100
b = 200
if b > a:                             
  print("b is greater than a")

b is greater than a

In [4]:
#elif statement

a = 43
b = 43
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [5]:
# if-else if-else statement

a = 230
b = 132
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [7]:
# nested statements

x = 3
if x > 5:
    if x < 15:
        print("x is between 5 and 15")
    else:
        print("x is 15 or more")
else:
    print("x is 5 or less")

x is 5 or less

In [8]:
# 7. Describe the different types of loops in Python and their use cases with examples

In [9]:
# for loop

fruits = ["apple", "banana", "cherry","pineapple"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
pineapple

In [12]:
# while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5